[Unit]
Description=YOUNGSCOOLPLAY-UI Service
After=network.target
Wants=network.target

[Service]
Environment="XRAY_VMESS_AEAD_FORCED=false"
Type=simple
WorkingDirectory=/usr/local/YOUNGSCOOLPLAY-UI/
ExecStart=/usr/local/YOUNGSCOOLPLAY-UI/YOUNGSCOOLPLAY-UI
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
